@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="content">
            <div class="maincontent">
                <img src="~/imgs/IMG_96kjsd92.jpg" alt="propic">
               
            </div>
            <div class="nameintro">
                <h1>Md. Raihanul Karim</h1>
                <p>I am a <mark>student</mark> of Computer Science and Engineering at <strong>University of Liberal Arts Bangladesh.</strong></p>
            </div>
        </section>
    <hr>
    <section class="Details">
        <div class="personaldetails">
            <h1>Personal Details</h1>
            <div id="detailsborder">
                <div class="info">
                    <b>Birthdate:</b><p>4th april 1997</p>
                </div>
                <div class="info">
                    <b>Education:</b>
                    <ul>
                        <li>University of Liberal Arts Bangladesh</li>
                    </ul>
                </div>
                <div class="info">
                    <b>Present Address</b>
                    <p>Dhaka, Bangladesh</p>
               </div>  
               <div class="info">
                    <b>Permanent Address</b>
                    <p>Naogaon, Rajshahi</p>
               </div>                                   
            </div>
        </div>
        <div class="contactdetails">
            <h1>Contact Details</h1>
               <div class="one">
                <div class="info">
                    <b>E-mail:</b>
                    <p>raihanul.karim.cse@ulab.edu.bd</p>
                </div>
                <div class="info">
                    <b>Phone:</b>
                    <p>01785567622</p>
                </div>
                <div class="info">
                    <b>Facebook:</b>
                    <br>
                    <a href="https://www.facebook.com/raihanulkarim.ulab.cse" target="_blank">Raihanul Karim</a>
                </div>
               </div>
                  <div class="two">
                    <div class="info">
                        <b>Github:</b>
                         <br>
                       <p> <a href="https://www.github.com/raihanulkarim" target="_blank">Raihanul Karim</a></p>
                        <br>
                    </div>
                    <div class="info">
                        <b>Twitter</b>
                        <br>
                       <p>
                            <a href="https://www.twitter.com/raihanulkarim5" target="_blank">Raihanul Karim</a>
                       </p>
                        
                    </div>
                  </div>
        </div>
    </section>
    <hr>  
    <section class="hobby">
        <h1>My Hobbies</h1>
        <div class="firsthobby">
            <img class="hobby-img" src="~/imgs/librocubicularist-slang-definition-reading-in-bed-6161-ac259f700b474072244b2f6f8d5c609c@1x.jpg" width="300px" height="300px" alt="Card image cap">
            <div class="hobby-body">
                <h3>Book Reading</h3>
                <hr>
                <p>I love to read historical, philoshopical, religous books.</p>
            </div>
        </div>
        <div class="secondhobby">
            <img class="hobby-img" src="~/imgs/istockphoto-1256618115-170667a.jpg" width="300px" height="300px" alt="Card image cap">
            <div class="hobby-body">
                <h3>Cricket</h3>
                <hr>
                <p>I like to play and watch cricket. My favorite cricket team is Bangladesh and favorite players are Shakib al Hasan and AB De Villiers.</p>
            </div>
        </div>
        <div class="thirdhobby">
            <img class="hobby-img" src="~/imgs/4626.jpg" width="300px" height="300px" alt="Card image cap">
            <div class="hobby-body">
                <h3>Gardening</h3>
                <hr>
                <p> I have a garden in my village and I used to take care of it and spend much of my leisure time in the garden.</p>
            </div>
        </div>
    </section> 

    <section class="gallery">

        <hr style="margin-bottom: 30px; ">
        <h1>Photo Gallery</h1>
        <div id="slider">
            <figure>
                <img class="slider-img" src="~/imgs/16684714_764568247045970_1414828037_n (3).jpg">
                <img class="slider-img" src="~/imgs/IMG_96kjsd92.jpg">
                <img class="slider-img" src="~/imgs/20151215_182036 ().jpg">
                <img class="slider-img" src="~/imgs/202094993_340554957512027_4418569497651126497_n.jpg">
                <img class="slider-img" src="~/imgs/IMG_7100.jpeg">
            </figure>
        </div>
    </section> 
    <hr>
    <section style="min-height: 500px; margin-left: 50px;">
        <div class="video">
            <h1>Video</h1>
            <iframe class="frame" style=" margin-left: 100px;" src="https://www.youtube.com/embed/v64KOxKVLVg" width="80%" height="400px"></iframe>
        </div>
    </section>
