@page
@model RazorRegistration.Pages.SignInModel
@{
    ViewData["title"] = "Signin";
}
<div class="logregForm">
    <form method="post" asp-page="SignIn">

        <h3>Login</h3>
        <div class="LogMessage">
             @if (@Model.message !=null)
            {
                <p style="color:red;">*@Model.message</p>
            }
         </div>
        <div class="logregTable">
            <table>
            <tr>
                <td>Email:</td>
                <td><input  asp-for="@Model.account.Email" required/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password"  asp-for="@Model.account.Password" required /></td>
            </tr>
            
        </table>

        </div>
         <input class="Logbtn" type="submit" value="Login" />
         
    </form>
</div>