      <article>
        <section class="fordiv">
          <H2> Personal Details </H2>
          <ul>
            <li><details close style=color:green>
              <summary>About Myself</summary>
              <p>Though I am quite an introvert, if situation arrives as such that I have to adapt, I can do so in a proper manner most of the times.
              As such, I am told to be good in presentations as I have also won awards for various presentations in different competitions.
            I can be quite thorough with what I do no matter the context which can be a curse at times too due to lack of time management.</p>
             </details></li>
            <li><details close style=color:green>
              <summary>Education</summary>
              <p><ol>
              <li>University of Liberal Arts Bangladesh(ULAB), Dhaka
                •	Bachelor of Science in Computer Science and Engineering
                •	Current C.G.P.A 3.93
                •	Expected to graduate in June, 2022
              </li>
              <li>Academia School, Dhaka
                  •	The General Certificate of Education Ordinary Level (O level)
                  •	Graduated in 2014
                  •	Science
                  •	GPA 4.625 out of 5.00
              </li>
          </ol>
           </p>
             </details></li>
            <li><details close style=color:green>
              <summary>Date of Birth</summary>
              <p>15 September, 1997</p>
             </details></li>
          </ul>
       </section>
        <div class="fordiv">
        <H2>Achievements & Hobbies</H2>

             <img src="~/pics/jim.jpg" alt="PIC" style="width:40%;height:300px;" class="null">
             <img src="~/pics/certificate.jpg" alt="PIC" style="width:40%;height:300px;" class="null">
          <div>

            <section>
            <div>
            <ol>
            <li> ULAB EEE FEST 2019
                 •	1st Runner up award in project showcasing
                 •	Built an Arduino based bot which helps in aiding trapped victims during earthquakes
            </li><progress value="100" max="100"></progress>
              <br>
            <li>Project Showcasing Fall 2019 (Organized by Department of ETE and EEE)
                •	2nd position in project showcasing
                •	Built an Arduino based bot which should act as a support bot in hospitals helping patients
            </li><progress value="20" max="100"></progress>
              <br>
              <li>The Daily Star O-level Award (2013-2014)
                •	For 6 A’s in O level examination
              </li><progress value="30" max="100"></progress>
              <li>Reading Books</li> <progress value="100" max="100"></progress>
              <br/>
              <li>Sketching</li> <progress value="20" max="100"></progress>
              <br/>
              <li>Gaming</li> <progress value="30" max="100"></progress>
            </ol>
              <br>
            </div>
            </section>
          </div>
          </div>
          <div class="fordiv">
            <h2>Photo Gallery With Slideshow</h2>
            <div class="slider">
              <input type="radio" name="slider">
              <div class="imggallery">
                <img src="~/pics/40862251_1892500904177826_7725727983100493824_n.jpg">
              </div>
              <input type="radio" name="slider">
              <div class="imggallery">                
                <img src="~/pics/104755445_3083538865074018_1994688476529719003_n.jpg">

              </div>
              <input type="radio" name="slider">
              <div class="imggallery">
                <img  src="~/pics/136173481_3612177375543495_7906671233117551761_n.jpg">

              </div>
              <input type="radio" name="slider">
              <div class="imggallery">
                <img  src="~/pics/jim.jpg">

              </div>
              <input type="radio" name="slider">
              <div class="imggallery">
                <img  src="~/pics/16797391_1283612645066658_5258449526670953165_o.jpg">

              </div>
            </div>
            </div>
          <div class="fordiv">
            <h2>Need some time off?Why not watch a video?</h2>
            <video src="Contents/videoplayback.mp4"autoplay controls height="310" width="40%" poster="Contents/thumbnail.jpg" class="forvideo1"></video>
            <iframe width="40%" height="315" src="https://www.youtube.com/embed/69Hitt9Dw4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="forvideo2"></iframe>
          </div>
       
    </article>