@model IEnumerable<ApplicationUser>
@{
}
<section style="background-color:white; margin-left:auto; margin-right:auto; width:500px;">
  <table style="margin-left:auto; margin-right:auto;">
  <tr style="margin: 5px; padding:5px; background-color:darkcyan;">
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
  </tr>
    @foreach (var i in Model)
    {
     <tr>
    <td>@i.FirstName</td>
    <td>@i.LastName</td>
    <td>@i.Email</td>
  </tr>
    }
</table>
</section>